* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10% 30%;
}

.main {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
h1 {
  margin-bottom: 50px;
  text-align: center;
}
.choice {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0.5;
}
.choice:hover {
  opacity: 1;
  cursor: pointer;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.score-board {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.message-container {
  text-align: center;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
.msg {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
